* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    background-size: cover;
}
:root{
    --main-color: #f8b281;
    --secondary-color: #1b1b1b;
}
section {
    padding: 5%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: "argonite", sans-serif;
}
.logo h1 {
    color: rgb(59, 165, 82);
}
.logo img {
    width: 10rem;
}
.selling-point {
    margin-top: 10vh;
    font-family: "argonite", sans-serif;
    text-align: center;
    color: rgb(59, 165, 82);
}
.ctas button {
    padding: 0.5rem;
    font-size: 1rem;
    cursor:pointer;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.49);
}
.cta-main {
    background-color: var(--main-color);
    color: var(--secondary-color);
    cursor:pointer;
    padding: 0.5rem;
    font-size: 1rem;
}
.cta-sec {
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}
.ctas {
    margin-top: 0.5rem;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
